@import '../../theme/theme';
@import '../../theme/helpers';

.ChatContainer {
  height: calc(100vh - 152px);
  overflow-y: scroll;
  padding: $space-normal;
  &__container {
    height: auto;
    display: flex;
    flex-direction: column;
  }
}
