@import '../../theme/theme';
@import '../../theme/helpers';

.ChatContainer {
  height: calc(#{$real-height} - #{$header-size} - #{$footer-size} - (#{$space-normal} * 2));
  padding: $space-normal;
  overflow-y: scroll;
}
