@import '../../theme/theme';

.Form {
  input:-webkit-autofill,
  input:-webkit-autofill:hover,
  input:-webkit-autofill:focus textarea:-webkit-autofill,
  textarea:-webkit-autofill:hover textarea:-webkit-autofill:focus,
  select:-webkit-autofill,
  select:-webkit-autofill:hover,
  select:-webkit-autofill:focus {
    box-shadow: 0 0 0px 1000px $primary-bg-color inset;
  }

  display: flex;
  flex-direction: column;

  input {
    margin-bottom: 40px;
  }

  input:last-child {
    margin-bottom: 0;
  }
}
