@import '../../../theme/theme';
@import '../../../theme/mixins';

.InputSubmit {
  font-family: $font;
  font-weight: 700;
  background: $primary-color;
  border: unset;
  text-align: center;
  font-size: $text-normal-size;
  color: #ffffff;
  width: 100%;
  height: $button-size;
  cursor: pointer;
  margin-top: 84px;

  &__dark {
    background: $primary-color-dark;
  }

  &:active {
    opacity: 0.8;
  }
}
