@import '../../theme/mixins';

.Icon {
  &__settings {
    background: url('../../assets/images/cog-solid.svg');
    background-repeat: no-repeat;
    background-position: center;
  }

  &__chat {
    background: url('../../assets/images/comment-alt-solid.svg');
    background-repeat: no-repeat;
    background-position: center;
  }

  &__send {
    background: url('../../assets/images/paper-plane-solid.svg');
    background-repeat: no-repeat;
    background-position: center;
  }
}
