// Calculate the padding in corners and return defined properties
@mixin screenPadding($screenSize, $padding) {
  width: calc(#{$screenSize} - (#{$padding} * 2));
  height: calc(#{$screenSize} - (#{$padding} * 2));
  padding: $padding;
}
