@import './theme_dark.scss';

// Light theme (default)
$preloader-bg-color: #940000;
$primary-color: #6b438e;
$font-primary-color: #ffffff;
$font-secondary-color: #000000;
$primary-bg-color: #ffffff;
$secondary-bg-color: #f3f3f3;
$message-bg-color: #99347a;
$received-message-bg-color: #f7f7f7;
$unread-tag-bg-color: #33add6;
$message-font-size: 17px;
$info-message-font-size: 14px;
$info-font-color: #99347bd6;
$info-message-bg-color: #3480992e;
$label-color: #562a5e;
$form-border-color: $label-color;
$radioSize: 22px;
$radioBorder: $label-color;
$radioActive: $label-color;
$submitActive: #a22334;
$error-color: #e70303;
$container-bg: linear-gradient(to bottom, #99347a 22.5%, rgba(0, 0, 0, 0.05) 20%);

$space-small: 8px;
$space-normal: 16px;
$space-large: 32px;
$text-normal-size: 16px;
$font: 'Roboto', sans-serif;
$header-size: 60px;
$footer-size: 60px;
$button-size: 60px;

// Shared behaviour
.Label {
  font-family: $font;
  font-weight: 500;
  font-size: $text-normal-size;
  text-align: left;
  color: $label-color;

  &__dark {
    color: $label-color-dark;
  }
}
