// $font-default: Helvetica, sans-serif;
$primary-color: #0c365e;
$font-primary-color: #eaeaea;
// ====
// $secondary-color: #11c77b;
// $third-color: #121212;
$fourth-color: #919191;
$fifth-color: #12c775;
// $sixth-color: #000000;
$eighth-color: #0fbb73;
// $header-bg-color: #102042;
$form-border-color: #e6e6e6;
$primary-bg-color: #ffffff;
// $primary-bg-color-transparent: #ffffffab;
// $default-text-color: #ffffff;
$placeholder-color: rgba(0, 0, 0, 0.25);
$error-color: #e70303;
$space-small: 8px;
$space-normal: 16px;
$space-large: 32px;
// $text-big-size: 26px;
$text-normal-size: 16px;
// $text-medium-size: 14px;
// $text-small-size: 12px;
// $desktop-margin-top: 0;
// $animation-time: 0.5s;

$font-regular: 'OpenSans-Regular', sans-serif;
$font-semi-bold: 'OpenSans-Semibold', sans-serif;
$font-bold: 'OpenSans-Bold', sans-serif;
