// Dark
$primary-color-dark: #146c72;
$font-primary-color-dark: #ffffff;
$message-bg-color-dark: #5db9a4;
$font-secondary-color-dark: #ffffff;
$unread-tag-bg-color-dark: #7d1d1d;
$label-color-dark: #ffffffc9;
$form-border-color-dark: #ffffff;
$primary-bg-color-dark: #000000;

$radioBorder-dark: #22adc1;
$radioActive-dark: #22adc1;

$message-bg-color-dark: #0f4c5c;
$received-message-bg-color-dark: #f7f7f7;
