// Dark theme
$primary-color-dark: #562a5e;
$font-primary-color-dark: #ffffff;
$message-bg-color-dark: #99347a;
$font-secondary-color-dark: #ffffff;
$unread-tag-bg-color-dark: #7d1d1d;
$label-color-dark: #ffffffc9;
$form-border-color-dark: #ffffff;
$primary-bg-color-dark: #000000;
$form-border-color-dark: $label-color-dark;
$radioBorder-dark: $label-color-dark;
$radioActive-dark: $label-color-dark;
$message-bg-color-dark: #745292;
$received-message-bg-color-dark: #f7f7f7;
$info-font-color-dark: #348099;
$info-message-bg-color-dark: #3480992e;
