@import '../../theme/theme';
@import '../../theme/helpers';

.Header {
  display: flex;
  width: 100%;
  height: $header-size;
  background: $primary-color;
  color: $font-primary-color;
  font-family: $font-regular;
  justify-content: space-between;
  width: calc(100% - 32px);
  padding: 0 16px;

  &__title {
    margin: 17px 0 0 8px;
    font-size: 18px;
  }
}
