@import '../../theme/theme';
@import '../../theme/helpers';

.Header {
  display: flex;
  width: 100%;
  height: $header-size;
  background: $primary-color;
  color: $font-primary-color;
  font-family: $font;
  justify-content: space-between;
  width: calc(100% - 32px);
  padding: 0 16px;

  &__dark {
    background: $primary-color-dark;
    color: $font-primary-color-dark;
  }

  &__title {
    margin: 20px 0 0 8px;
    font-size: 18px;
    font-weight: 500;
  }

  &__unread_messages {
    display: block;
    width: 22px;
    height: 22px;
    background: $unread-tag-bg-color;
    font-size: 10px;
    border-radius: 100%;
    position: absolute;
    line-height: 23px;
    text-align: center;
    top: 6px;
    right: 24px;
  }
}

@media (min-width: 650px) {
  .Header {
    &__unread_messages {
      top: 64px;
      right: 140px;
    }
  }
}
