@import '../../../theme/theme';

.Input {
  font-family: $font;
  font-size: $text-normal-size;
  text-align: left;
  color: $font-secondary-color;
  border: none;
  border-bottom: 1px solid $form-border-color;
  margin-top: $space-small;
  background-color: transparent;

  &__dark {
    border-bottom: 1px solid $form-border-color-dark;
    color: $font-secondary-color-dark;
  }

  &__error {
    border-bottom: 1px solid $error-color;
  }
}
