@import '../../../theme/theme';

.Label {
  font-family: $font;
  font-weight: 700;
  font-size: $text-normal-size;
  text-align: left;
  color: $label-color;
}

.Input {
  font-family: $font;
  font-size: $text-normal-size;
  text-align: left;
  color: $font-secondary-color;
  border: none;
  border-bottom: 1px solid $form-border-color;
  margin-top: $space-small;
  background-color: transparent;

  &__error {
    border-bottom: 1px solid $error-color;
  }
}
